<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-container">

    <div class="hero-card">
        <div>
            <h1>Bienvenido, {{ nombre }}</h1>
            <p>Tu progreso en la plataforma:</p>
        </div>

        <a href="{{ url_for('logout') }}" class="logout-btn">Cerrar sesión</a>
    </div>

    <div class="stats-grid">

        <div class="stat-card">
            <h2>{{ resueltos }}</h2>
            <p>Resueltos</p>
        </div>

        <div class="stat-card">
            <h2>{{ intentados }}</h2>
            <p>Intentados</p>
        </div>

        <div class="stat-card">
            <h2>{{ total }}</h2>
            <p>Total problemas</p>
        </div>

    </div>

    <div class="dashboard-grid">

        <div class="dashboard-card">
            <h2>Resolver problemas</h2>
            <p>Accede a la lista de retos disponibles.</p>
            <a href="{{ url_for('problems') }}" class="primary-btn">Ir a problemas</a>
        </div>

        {% if rol == "admin" %}
        <div class="dashboard-card">
            <h2>Agregar problema</h2>
            <p>Crea nuevos problemas y sus casos de prueba.</p>
            <a href="{{ url_for('crear_problema') }}" class="primary-btn">Crear problema</a>
        </div>

        <div class="dashboard-card">
            <h2>Historial del sistema</h2>
            <p>Consulta eventos de inicio de sesión, soluciones y creación de problemas.</p>
            <a href="{{ url_for('historial_sistema') }}" class="primary-btn">Ver historial</a>
        </div>
        {% endif %}

    </div>

</div>

</body>
</html>