<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ problema.titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="layout">

    <div class="left">
        <h1>{{ problema.titulo }}</h1>

        <p><b>Dificultad:</b> {{ problema.dificultad }}</p>
        <p><b>Categoría:</b> {{ problema.categoria }}</p>

        <hr>

        <p>{{ problema.descripcion }}</p>

        <h3>Casos de prueba</h3>

        {% for caso in casos %}
            <div class="case">
                <p><b>Descripción:</b> {{ caso.descripcion }}</p>
                <p><b>Entrada:</b> {{ caso.entrada }}</p>
                <p><b>Salida esperada:</b> {{ caso.salida_esperada }}</p>
            </div>
        {% endfor %}

        <br>

        <a href="{{ url_for('problems') }}" class="secondary-btn">Volver a problemas</a>
    </div>

    <div class="right">
        <h2>Editor de código</h2>

        <form method="POST" action="{{ url_for('enviar_solucion', problem_id=problema.id) }}">

            <label for="lenguaje"><b>Lenguaje de programación</b></label>

            <select name="lenguaje" id="lenguaje" class="language-select" onchange="cambiarPlantilla()">
                <option value="python">Python</option>
                <option value="java">Java</option>
                <option value="cpp">C++</option>
            </select>

            <textarea id="codigo" name="codigo" placeholder="Escribe tu código aquí..."></textarea>

            <button type="submit">Enviar solución</button>
        </form>
    </div>

</div>

<script>
    const plantillas = {
        python: `def solution(nums):
    return nums
`,

        java: `public class Solution {
    public static void main(String[] args) {
        System.out.println("Resultado");
    }
}
`,

        cpp: `#include <iostream>
#include <vector>
using namespace std;

int main() {
    return 0;
}
`
    };

    function cambiarPlantilla() {
        const lenguaje = document.getElementById("lenguaje").value;
        const editor = document.getElementById("codigo");
        editor.value = plantillas[lenguaje];
    }

    window.onload = cambiarPlantilla;
</script>

</body>
</html>