<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="page-container">

    <div class="hero-card">
        <div>
            <h1>Bienvenido, {{ nombre }}</h1>
            <p>Tu progreso en la plataforma:</p>
        </div>

        <a href="{{ url_for('logout') }}" class="logout-btn">Cerrar sesión</a>
    </div>

    <div class="stats-grid">

        <div class="stat-card">
            <h2>{{ resueltos }}</h2>
            <p>Resueltos</p>
        </div>

        <div class="stat-card">
            <h2>{{ intentados }}</h2>
            <p>Intentados</p>
        </div>

        <div class="stat-card">
            <h2>{{ total }}</h2>
            <p>Total problemas</p>
        </div>

    </div>

    <div class="dashboard-grid">

        <div class="dashboard-card">
            <h2>Resolver problemas</h2>
            <p>Accede a la lista de retos disponibles.</p>
            <a href="{{ url_for('problems') }}" class="primary-btn">Ir a problemas</a>
        </div>

        <div class="dashboard-card">
            <h2>Estado del sistema</h2>
            <p>Simulación de evaluación automática activa.</p>
            <button disabled>Activo</button>
        </div>

        <div class="dashboard-card">
            <h2>Backend</h2>
            <p>Flask + PostgreSQL funcionando.</p>
            <button disabled>Conectado</button>
        </div>

    </div>

</div>

</body>
</html>