<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ problema.titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="layout">

    <div class="left">
        <h1>{{ problema.titulo }}</h1>

        <p><b>Dificultad:</b> {{ problema.dificultad }}</p>
        <p><b>Categoría:</b> {{ problema.categoria }}</p>

        <hr>

        <p>{{ problema.descripcion }}</p>

        <h3>Casos de prueba</h3>

        {% for caso in casos %}
            <div class="case">
                <p><b>Entrada:</b> {{ caso.entrada }}</p>
                <p><b>Salida esperada:</b> {{ caso.salida_esperada }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="right">
        <h2>Editor de código</h2>

        <form method="POST" action="{{ url_for('enviar_solucion', problem_id=problema.id) }}">
            <textarea name="codigo" placeholder="Escribe tu código aquí..."></textarea>

            <br><br>

            <button type="submit">Enviar solución</button>
        </form>
    </div>

</div>

</body>
</html>